@import '~bootstrap/scss/bootstrap';
@import './components/DigitalClock/digitalClock';
@import './components/StopWatch/stopwatch';

.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/img/background.jpeg');
}